
body {
    background-color: rgba(248, 0, 0, 0.724);
    background-image: url('taxi.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            font-family: "Open Sans", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            font-size: 1rem; /* 16px */
            line-height: 1.5; /* 24px */
            color: #000000;
            margin: 0;
            padding: 0;
            text-align: center;
        }


img {
    background-image: url('taxi.jpg');;
}
h1 {
    font-family: "times new roman", serif;
    color: white;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: -0.03em;
    line-height: 1.1;
    margin: 0;
    padding: 0;
} 

h2 {
    font-family: "times new roman", serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

h3 {
    font-family: "times new roman", serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
   text-align: center;
    margin: 0;
    padding: 0; 
}


span{
    color: rgb(255, 255, 255);
  text-decoration-style: solid;
  width: 180px;
  font-size: 20px;
    font-family: 'Times New Roman', serif;
    text-align: left;
    display: block; 
    position: relative;
    top: 50px;
}

h4{
    font-family: "times new roman", serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    position: relative;
    top: 50px;
    
}


