.hero-image-wrapper {
  width: 100%;
  height: calc(100vh - 180px);
  overflow: hidden;
}
.hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}
body {
  background-color: #b40000;
}
.frame {
  background-color: #b40000;
}
h1 {
  background-color: #b40000;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Staatliches', sans-serif;
  background: #fff;
  color: #000;
  display: flex;
  min-height: 100vh;
}
.nav-list a {
  font-size: 0.85rem;
  opacity: 0.7;
   display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
  font-weight: 600px;
   width: auto;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  line-height: 1.3;
  font-family: inherit;
  border: none;
  padding: 0;
}
.nav-list a:hover {
  color: #000;
  background: none;
  text-decoration: underline;
}
/* NAV LIST STACKED LINKS */

.nav-list a:hover {
  text-decoration: underline;
}